@import url(./global.css);
/* -------- inicio do header -------- */
header{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
header > .logo {
    display: flex;
    align-items: center;
    gap: 11px;
}
header > nav > ul {
    display: flex;
    gap: 40px;
    
}
header > nav > ul > li > a{
    color: var(--color-Gray1);
}
header > nav > ul > li > a.ativo{
    color: var(--color-White);
    font-weight: 400;
}
header > .buttonsWrapper > button:nth-child(1) {
    color: white;
    padding: 10px 24px;
}
header > .buttonsWrapper > button:nth-child(2) {
    background-color: var(--color-Green);
    color: #000000;
    padding: 10px 24px;
    border-radius: 40px;

}
/* -------- Fim do header -------- */
/* ----- Inicio do main ----- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 60px 0px 60px 0px;
}
main > .Finance {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 568px;
}

main > .Finance > button{
    color: #9DFF3A;
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
    border-radius: 50px;
    border: 1px solid
    transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    border-radius: 24px;
    width: 137px;
}
main > .Finance > button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--color-Green);
}

 .decentralised {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-Green);
 }

main > .Finance > h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--color-White);
}
main > .Finance > h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-Gray1);
}

main > .Finance > .buttonStarted {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main > .Finance > .buttonStarted > button:nth-child(1) {
    color: #000000;
    background-color: var(--color-Green);
    padding: 14px 24px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
}
main > .Finance > .buttonStarted > button:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-White);
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
    border: 1px solid
    transparent;
    border-radius: 40px;
    padding: 15px 24px;
    gap: 6px;
    width: 190px;
    height: 52px;
}
/* ----- Fim do Main ----- */

/* ----- Inicio da section Partners ----- */
.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Gray4);
}

.partners > h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-Gray1);
    margin: 40px 0px 40px 0px;
    background-color: var(--color-Gray4);
}

.partners > nav > ul, li > img{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: var(--color-Gray4);
    padding-bottom: 20px;
}


/* ----- Fim da section Partners ----- */
.breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 60px; 
    gap: 20px;
}
.breakdown > button {
    background-color: var(--color-Gray3);
    color: var(--color-Green);
    padding: 12px 20px;
    border-radius: 24px;
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
    border: 1px solid
    transparent;
}
.breakdown > h2 {
    font-size: 48px;
    font-weight: 400;
    color: var(--color-White);
}
.breakdown > h3 {
    font-size: 18px;
    color: var(--color-Gray1);
    width: 572px;
}
